@import url("https://fonts.googleapis.com/css2?family=Mandali&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-margin-top: 3rem;
}
body {
  overflow: auto;
  color: #6c757d;
  font-family: "Mandali", "Open Sans", sans-serif;
}

p {
  line-height: 1.6rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #383e44;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1rem;
}
.section-title-1 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
}
.section-title-1 span {
  font-weight: bold;
  color: #30353b;
  font-weight: bold;
}

.section-title-2 {
  font-size: 1.7em;
  color: #30353b;
  max-width: 420px;
  margin: 0 auto 1rem;
}

.section {
  width: 100%;
  padding: 3.5rem 0;
  text-align: center;
}
.text-center {
  text-align: center;
  margin: auto;
  margin-bottom: 4rem;
  /* line-height: 1.6em; */
}

.double-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* margin: 3em 0; */
}
.double-flex-part {
  width: 100%;
}
.double-flex-part-img {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .text-center {
    max-width: 456px;
  }
}

@media screen and (min-width: 996px) {
  * {
    scroll-margin-top: 4rem;
  }
  .double-flex {
    flex-direction: row;
    align-items: center;
    /* justify-content: flex-start; */
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 0.5em;
  }
  .double-flex-part {
    flex: 1;
  }
}
@media screen and (min-width: 1200px) {
  .text-center {
    max-width: 546px;
  }
}
/* //////////////////HEADER Starts */

.container,
.container-mob {
  width: 100%;
  max-width: 540px;
  margin: auto;
  padding: 0 0.75rem;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.5em;
  overflow: hidden;
  transition: height 0.4s;
  background-color: #ffffff;
  box-shadow: 1px 1px 40px 0 rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.expanded {
  height: 360px;
}
.header-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 0.2em;
  background-color: transparent;
}
.nav-box-expanding {
  position: absolute;
  top: 3.5em;
  left: 0;
  width: 100%;
  margin-top: -0.8em;
}
.mobile-nav {
  display: none;
}

.nav-expand-btn {
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}
.nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
}
.nav-item {
  height: auto;
  width: 100%;
  margin: 0.17em;
}
.nav-link {
  padding: 0.3em 0;
  color: inherit;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
}
.nav-link:hover,
.nav-link:focus {
  color: #1f61eb;
}
.nav-link-signup {
  padding: 0.1em 1em;
  border: 1px solid #b7ccf9;
  border-radius: 4px;
  color: #1f61eb;
  background-color: #dde7fc;
  transition: color 0.3s, background-color 0.3s;
}
.nav-link-signup:hover,
.nav-link-signup:focus {
  background-color: #1f61eb;
  color: white;
}

.active {
  color: #1f61eb;
  position: relative;
}
.active::after {
  content: "";
  height: 100%;
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 25%;
  border-bottom: 2px solid #1f61eb;
}
@media screen and (min-width: 768px) {
  .container,
  .container-mob {
    max-width: 720px;
  }
}
@media screen and (min-width: 996px) {
  .container {
    width: 100%;
    max-width: 960px;
    /* padding: 0; */
  }
  .container-mob {
    padding: 0;
    flex: 1;
    max-width: 100%;
    text-align: center;
  }
  .header {
    position: fixed;
    height: 4em;
    z-index: 1;
  }
  .header-container {
    margin-top: 0;
  }
  .logo {
    padding-top: 0.7em;
  }

  .mobile-nav {
    display: block;
  }
  .nav-expand-btn {
    display: none;
  }
  .nav-box-expanding {
    position: static;
    flex: 1;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .header {
    overflow: visible;
    background-color: transparent;
    box-shadow: none;
    z-index: 1;
  }
  .header-mod {
    background-color: white;
    box-shadow: 1px 1px 40px 0 rgba(0, 0, 0, 0.15);
  }
  .nav {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .login-nav {
    float: right;
  }
  .nav-list {
    flex-direction: row;
  }
  .login-list {
    margin: 0;
    padding: 0;
  }
  .login-list .nav-item {
    margin: 0;
    margin-left: 1.5em;
    padding: 0;
  }
  .nav-item {
    width: auto;
    margin: 0 1.1em;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* //////////////////HEADER Ends */
/* //////////////////HOME Starts */
.home {
  min-height: 100vh;
  width: 100%;
  margin-top: -3em;
  padding-top: 9rem;
  background-image: url("resources/hero-3-bg.png");
  background-size: cover;
}

.home h1 {
  font-size: 2.2rem;
  margin-bottom: 0.6em;
  line-height: 1.3;
  font-weight: 700;
}
.home p {
  font-size: 1.1rem;
  margin: 1.2em 0;
}
.home ul {
  list-style: none;
  margin-bottom: 2em;
}
.home-list-icon {
  color: #40e5b9;
  margin-right: 0.5em;
}
.home-img-wrapper {
  padding: 3em 0 0;
}
.home-img {
  display: block;
  width: 100%;
}
.home-btn {
  padding: 1em 1.6em;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1;
  border: none;
  background-color: #1f61eb;
  transition: all 0.2s;
  color: white;
  border-radius: 4px;
}
.home-btn:hover,
.home-bt:focus {
  border: none;
  outline: none;
  background-color: #1057ea;
  box-shadow: -2px 7px 10px 0px rgba(31, 97, 235, 0.3);
}

@media screen and (min-width: 768px) {
  .home h1 {
    font-size: 2.6em;
    max-width: 600px;
  }
  .home p {
    max-width: 660px;
  }
}
@media screen and (min-width: 996px) {
  .home h1 {
    font-size: 3.2em;
  }
  .home p {
    max-width: 100%;
  }
  .home {
    margin-top: -4em;
    padding: 12rem 0;
  }
}
/* //////////////////HOME Ends */
/* //////////////////HOW it works Starts */

.how p {
  margin: auto;
  font-size: 1rem;
  line-height: 1.6em;
}
.how-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-top: 4em;
}
.how-item {
  padding-top: 7.2rem;
  position: relative;
  margin-bottom: 3rem;
}
.how-item-title {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}
.how-icon-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.how-icon {
  color: #30353b;
  font-size: 3.5rem;
  background-color: #dde7fc;
  margin-bottom: 0.6em;
  padding: 0.4em;
  padding-top: 0.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24% 76% 49% 51% / 23% 21% 79% 77%;
}
.how-item:nth-child(2) .how-icon {
  background-color: #ddfbf3;
}
.how-item:nth-child(3) .how-icon {
  background-color: #fff6db;
}

@media screen and (min-width: 996px) {
  .how-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin-top: 4em;
    background-image: url(resources/arrow-top.png), url(resources/arrow-bottom.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 33% 41%, 70% 42%;
  }
  .how-item {
    max-width: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .how-list {
    background-size: 11%;
    background-position: 31% 40%, 69% 40%;
  }
  .how-item {
    max-width: 260px;
  }
}
/* //////////////////HOW Ends */
/* //////////////////FEATURES Starts */
.features {
  background-color: #f8f9fa;
}
.features .double-flex-part {
  text-align: left;
}

.features h4 {
  font-size: 2.2rem;
  font-weight: 600;
}
.features span {
  margin: 0;
  padding: 0;
  display: inline;
  color: #343a40;
  font-weight: 600;
}
.features-list {
  list-style: none;
}
.features-item {
  margin: 2rem 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.features-icon-wrapper {
  width: 2.5rem;
  height: 2.5rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #2c6aec;
  border-radius: 50%;
  margin-right: 1.5em;
}

@media screen and (min-width: 996px) {
  .features .double-flex-part {
    max-width: 451px;
  }
}
/* //////////////////FEATURES Ends */
