@import url("https://fonts.googleapis.com/css2?family=Mandali&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 2000px;
  overflow: auto;
  color: #343a40;
  font-family: "Mandali", "Open Sans", sans-serif;
}
.container,
.container-mob {
  width: 90%;
  max-width: 960px;
  margin: auto;
  padding: 0 0.75rem;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.5em;
  overflow: hidden;
  transition: height 0.4s;
  background-color: #ffffff;
  box-shadow: 1px 1px 40px 0 rgba(0, 0, 0, 0.15);
}

.expanded {
  height: 360px;
}
.header-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 0.2em;
}
.nav-box-expanding {
  position: absolute;
  top: 3.5em;
  left: 0;
  width: 100%;
  margin-top: -0.8em;
}
.mobile-nav {
  display: none;
}

.nav-expand-btn {
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}
.nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
}
.nav-item {
  height: auto;
  width: 100%;
  margin: 0.17em;
}
.nav-link {
  padding: 0.3em 0;
  color: inherit;
  text-decoration: none;
}
.nav-link-signup {
  padding: 0.1em 1em;
  border: 1px solid #b7ccf9;
  border-radius: 4px;
  color: #1f61eb;
  background-color: #dde7fc;
  transition: color 0.3s, background-color 0.3s;
}
.nav-link-signup:hover,
.nav-link-signup:focus {
  background-color: #1f61eb;
  color: white;
}

.active {
  color: #1f61eb;
  position: relative;
}
.active::after {
  content: "";
  height: 100%;
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 25%;
  border-bottom: 2px solid #1f61eb;
}
@media screen and (min-width: 992px) {
  .container {
    width: 100%;
  }
  .header {
    position: sticky;
    height: 4em;
  }
  .header-container {
    margin-top: 0;
  }
  .logo {
    margin-top: 0.3em;
  }
  .container-mob {
    width: 100%;
    height: 100%;
    padding: 0;
    flex: 1;
    text-align: center;
  }
  .mobile-nav {
    display: block;
  }
  .nav-expand-btn {
    display: none;
  }
  .nav-box-expanding {
    position: static;
    flex: 1;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .header {
    overflow: visible;
    background-color: transparent;
    box-shadow: none;
  }
  .header-mod {
    background-color: white;
    box-shadow: 1px 1px 40px 0 rgba(0, 0, 0, 0.15);
  }
  .nav {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .login-nav {
    float: right;
  }
  .nav-list {
    flex-direction: row;
  }
  .login-list {
    margin: 0;
    padding: 0;
  }
  .login-list .nav-item {
    margin: 0;
    margin-left: 1.5em;
    padding: 0;
  }
  .nav-item {
    width: auto;
    margin: 0 1.1em;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.home {
  min-width: 100vh;
  height: 2000px;
  padding: 4em;
  margin-top: -4em;
  background-image: url("resources/hero-3-bg.png");
  background-size: auto;
}
