@import url("https://fonts.googleapis.com/css2?family=Mandali&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@font-face {
  font-family: "Cerebri Sans";
  src: url("resources/fonts/cerebri-sans-bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url("resources/fonts/cerebri-sans-book.ttf");
  font-weight: 300;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scroll-margin-top: 55px; */
  /*same as header- to offset fixed heading when scrolling on link clik*/
}
body {
  color: #6c757d;
  font-family: "Mandali", "Open Sans", sans-serif;
}

p {
  /* line-height: 1.6rem; */
  line-height: 1.85em;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: #343a40;
  font-family: "Cerebri Sans", "Open Sans", sans-serif;
}
img {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.hidden {
  display: none;
}
.go-to-top-btn {
  position: fixed;
  bottom: 10px;
  right: 20px;
  width: 2rem;
  height: 2rem;
  color: white;
  border-radius: 4px;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
  background: rgb(32, 97, 235);
  background: linear-gradient(90deg, rgba(32, 97, 235, 1) 0%, rgba(148, 180, 245, 1) 100%);
}

.container,
.container-mob {
  width: 100%;
  max-width: 540px;
  margin: auto;
  padding: 0 12px;
}
.full-width {
  width: 100%;
}
.bg-coloured {
  background-color: #f8f9fa;
}
.section {
  width: 100%;
  padding: 90px 0;
  text-align: center;
}
.section-intro {
  text-align: center;
  margin: auto;
  margin-bottom: 64px;
}
.section-title-1 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  margin: auto;
  margin-bottom: 1.1em;
}
.section-title-2 {
  font-size: 1.85em;
  line-height: 1.4;
  max-width: 420px;
  margin: auto;
  margin-bottom: 0.5rem;
}
.double-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.double-flex-part {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container,
  .container-mob {
    /* cotnainer mob is for expanded navigation on mobile*/
    max-width: 720px;
  }
  .section-intro {
    max-width: 456px;
  }
}

@media screen and (min-width: 996px) {
  * {
    scroll-margin-top: 66px;
  }
  .container {
    width: 100%;
    max-width: 960px;
  }

  .double-flex {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 0.5em;
  }
  .double-flex-part {
    flex: 1;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .section-intro {
    max-width: 546px;
  }
}
/* //////////////////HEADER Starts */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  overflow: hidden; /*to hide inner section on mobile when expanding*/
  background-color: #ffffff;
  box-shadow: 1px 1px 40px 0 rgba(0, 0, 0, 0.15);
  transition: height 0.3s;
  transition-timing-function: ease-in-out;
  z-index: 10;
}
.header.expanded {
  height: 360px; /* on mobile*/
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px; /*same as header*/
  margin-top: 0;
  background-color: transparent;
}
.nav-box-expanding {
  /*nav links that are hidden when contracted on mobile*/
  position: absolute;
  top: 44px; /* from header top*/
  left: 0;
  width: 100%;
  height: 100%;
}

.nav-box-expanding .container {
  /* padding: 0; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.nav-expand-btn {
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}
.nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
  width: 100%;
}
.nav-item {
  height: auto;
  width: 100%;
  margin: 2.5px 0;
}
.nav-link {
  padding: 0.3em 0;
  color: #343a40;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
}
.nav-link:hover,
.nav-link:focus {
  color: #1f61eb;
}
.nav-link-signup {
  padding: 0.1em 1em;
  border: 1px solid #b7ccf9;
  border-radius: 4px;
  color: #1f61eb;
  background-color: #dde7fc;
  transition: color 0.3s, background-color 0.3s;
}
.nav-link-signup:hover,
.nav-link-signup:focus {
  background-color: #1f61eb;
  color: white;
}

.nav-link.active {
  color: #1f61eb;
  position: relative;
}
.nav-link.active::after {
  /*to make not full length underline*/
  content: "";
  height: 100%;
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 25%;
  border-bottom: 2px solid #1f61eb;
}

@media screen and (min-width: 996px) {
  .header,
  .header.expanded {
    /*this also disables expanded class on window resize, when resizing on expanded*/
    height: 78px;
    overflow: visible;
    background-color: transparent;
    box-shadow: none;
    transition: all 0.6s;
    z-index: 1;
  }
  .header.on-scroll {
    height: 66px;
    background-color: white;
    box-shadow: 1px 1px 40px 0 rgba(0, 0, 0, 0.15);
  }
  .header .container {
    height: 100%;
  }
  .nav-expand-btn {
    display: none;
  }
  .nav-box-expanding {
    position: static;
    /* flex: 1; */
  }
  .nav-box-expanding .container {
    padding: 0;
    margin: 0;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }
  .page-nav {
    flex: 1;
  }
  .login-nav {
    max-width: fit-content; /* what does this does why, it works, what difference between auto*/
  }
  .nav-list {
    flex-direction: row;
    gap: 2.2rem;
  }
  .nav-list.login-list {
    gap: 1rem;
  }
  .nav-item {
    width: auto;
  }
}
/* //////////////////HEADER Ends */
/* //////////////////HOME Starts */
.home {
  min-height: 100vh; /*not exactly as original,but think looks better*/
  width: 100%;
  padding-top: 100px;
  background-image: url("resources/hero-3-bg.png");
  background-size: cover;
  padding-bottom: 20px;
}

.home h1 {
  font-size: 2.2em;
  margin-bottom: 1.5rem;
  /* font-weight: 700; */
  line-height: 1.2;
  letter-spacing: 0.01em;
}
.home p {
  font-size: 17px;
  margin-bottom: 1.6rem;
  line-height: 1.7;
  letter-spacing: 0;
}
.home ul {
  list-style: none;
  margin-bottom: 2.3em;
}
.home ul li {
  margin-bottom: 0.6em;
  line-height: 1.7em;
}
.home-list-icon {
  color: #40e5b9;
  margin-right: 0.5em;
}
.home-img-wrapper {
  padding: 3em 0 0;
}
.home-img {
  display: block;
  width: 100%;

  max-width: 696px;
}
.home-btn {
  padding: 1em 1.65em;
  font-size: 17px;
  font-weight: 300;
  line-height: 1;
  border: none;
  background-color: #1f61eb;
  transition: all 0.2s;
  color: white;
  border-radius: 4px;
}
.home-btn:hover,
.home-bt:focus {
  border: none;
  outline: none;
  background-color: #1057ea;
  box-shadow: -2px 7px 10px 0px rgba(31, 97, 235, 0.3);
}

@media screen and (min-width: 768px) {
  .home h1 {
    font-size: 45px;
    max-width: 600px;
  }
  .home p {
    max-width: 660px;
  }
}
@media screen and (min-width: 996px) {
  .home h1 {
    font-size: 3.2em;
  }
  .home p {
    max-width: 100%;
  }
}
/* //////////////////HOME Ends */
/* //////////////////HOW it works Starts */

.how-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-top: 4em;
}
.how-item {
  line-height: 1rem;
  /* padding-top: 7.2rem; */
  /* position: relative; */
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
}
.how-item-title {
  line-height: 1rem;
  font-size: 20px;
  /* font-family: "Open Sans"; */
  font-weight: 699;
  margin-bottom: 0.4em;
}
/* .how-icon-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 7.5rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
} */
.how-icon {
  color: #30353b;
  font-size: 3.3rem;

  height: 96px;
  line-height: 1rem;
  width: 96px;
  font-size: 56px;
  background-color: #dde7fc;
  /* margin-bottom: 0.6em; */
  /* padding: 0.4em; */
  /* padding-top: 0.3em; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24% 76% 49% 51% / 23% 21% 79% 77%;
  line-height: 1rem;
}
.how-item:nth-child(2) .how-icon {
  background-color: #ddfbf3;
}
.how-item:nth-child(3) .how-icon {
  background-color: #fff6db;
}

@media screen and (min-width: 996px) {
  .how-list {
    line-height: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin-top: 4em;
    background-image: url(resources/arrow-top.png), url(resources/arrow-bottom.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 33% 41%, 70% 42%;
    line-height: 1rem;
  }
  .how-item {
    max-width: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .how-list {
    background-size: 11%;
    background-position: 31% 40%, 69% 40%;
  }
  .how-item {
    max-width: 260px;
  }
}
/* //////////////////HOW Ends */
/* //////////////////FEATURES Starts */
.features {
  background-color: #f8f9fa;
  text-align: left;
  padding-bottom: 0;
}

.features .container:nth-child(1) {
  padding-bottom: 6rem;
}
.features .full-width {
  padding-top: 6rem;
}
.features-title {
  font-size: 2.2rem;
  font-family: "Open Sans";
  font-weight: 600;
  margin-bottom: 0.7em;
}
.features p {
  line-height: 1.75em;
  margin-bottom: 1em;
}
.features strong {
  font-weight: 500;
}
.features-list {
  list-style: none;
  text-align: left;
  padding: 0;
}
.features-item {
  /* margin-bottom: 2em; */
  margin-bottom: 0.7em;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.features-icon-wrapper {
  width: 2.5rem;
  height: 2.5rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
  text-align: center;
  line-height: 2.5;
  background-color: white;
  color: #2c6aec;
  border-radius: 50%;
  margin-right: 1.5em;
  box-shadow: 0 2px 15px 0 rgba(44, 106, 236, 0.09);
}

@media screen and (min-width: 996px) {
  .features .flex-part-text {
    max-width: 376px;
  }
  .features .flex-part-img {
    max-width: 456px;
  }
  .features .full-width {
    background-image: url("resources/features-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1200px) {
  .features .flex-part-text {
    max-width: 451px;
  }
  .features .flex-part-img {
    max-width: 451px;
    justify-self: flex-start;
  }
  .features-double-flex-1 .flex-part-img {
    max-width: 500px;
  }

  .features-double-flex-2 .flex-part-img {
    margin: auto;
    max-width: 451px;
  }
}
/* //////////////////FEATURES Ends */
/* //////////////////STATS Starts */

.stats {
  width: 100%;
  background-image: url("resources/counter-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.stats .bg-overlay {
  background-color: rgba(52, 58, 64, 0.8);
  height: 100%;
}
.stats .section {
  padding: 111px 0;
}
.stats .section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.9rem;
  height: auto;
}
.stats .column {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
  align-items: center;
  justify-content: space-between;
}

.stat-block {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  /* margin-bottom: 1.1em; */
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid #797d7d;
  border-radius: 8px;
  font-size: 1.8rem;
}

.stat-block div {
  margin-left: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.1rem;
}
.stat-count {
  font-weight: bold;
  line-height: 1em;
}
.stat-text {
  /* padding-top: 1.1rem; */
  color: #d4d3d3;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1em;
}

@media screen and (min-width: 576px) and (max-width: 995px) {
  .stats .section .container {
    gap: 2em;
  }
  .stats .column {
    flex-direction: row;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* width: 100%; */
    /* gap: 1.5em; */
  }
  .stat-block {
    padding: 0.5em;
    /* margin-bottom: 0; */
    font-size: 2rem;
  }
  .stat-icon {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 996px) {
  .stats .section .container {
    flex-direction: row;
    gap: 1em;
  }
  .stats .column {
    /* display: flex; */
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    gap: 1em;
    flex: 1;
  }
  .stat-block {
    flex: 1;
    font-size: 2.1rem;
    margin-bottom: 0;
  }
  .stat-count {
    margin-bottom: 0;
  }
  .stat-icon {
    font-size: 1.4em;
  }
}

@media screen and (min-width: 1200px) {
  .stats .column {
    gap: 1.5em;
  }
  .stats .section .container {
    gap: 1.5em;
  }
  .stat-block {
    max-height: 125px;
    max-width: 261px;
    font-size: 1.7rem;
  }
  .stat-icon {
    font-size: 1.7em;
  }
  .stat-count {
    font-size: 1.3em;
    margin-bottom: -0.1em;
  }
  .stat-text {
    padding-top: 2.2em;
  }
}
/* //////////////////STATS Ends */
/* //////////////////SCREENSHOT Starts */
.slider-wrapper {
  width: 100%;
  width: auto;
  position: relative;
}
.images-slider {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 1rem;
  margin-top: -1rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.slider-img-wrapper {
  width: 200px;
  min-width: 200px;
  border-radius: 10px;
}
.slider-img-wrapper:first-child,
.slider-img-wrapper:nth-child(5) {
  opacity: 0.3;
}

.slider-img-wrapper:nth-child(2),
.slider-img-wrapper:nth-child(4) {
  opacity: 0.7;
}
.slider-img-wrapper img {
  width: 100%;
  min-width: 100%;
  display: block;
  border: 1px solid rgba(121, 125, 125, 0.08);
  border-radius: 10px;
}
.slider-img-wrapper-center {
  min-width: 230px;
}
.slider-img-wrapper-center img {
  object-fit: cover;
  position: relative;
  box-shadow: 0 5px 20px 5px rgba(121, 125, 125, 0.1);
}
.hidden-slide {
  display: none;
}
.slider-buttons-wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -2rem;
}
.slider-button {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: none;
  background-color: inherit;
  border: 1px solid transparent;
}
.slider-button:hover {
  cursor: pointer;
}
.slider-button-active {
  border: 1px solid #1f61eb;
}

.slider-button span {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: inherit;
  text-indent: -2000px;
  overflow: hidden;
  background-color: #d1defa;
  border: 2px solid white;
}
.slider-button-active span {
  background-color: #1057ea;
}

@media screen and (min-width: 1200px) {
  .slider-img-wrapper {
    width: 247px;
    min-width: 247px;
  }
  .slider-img-wrapper-center {
    min-width: 271px;
  }
}
/* //////////////////SCREENSHOT Ends */
/* //////////////////TESTIMONIALS Starts */
.testimonials {
  background-color: #f8f9fa;
}

.testimonials .highlight {
  max-width: 736px;
  font-size: 17px;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
  line-height: 1.5;
}

.customer-testimonial img {
  display: block;
  width: 70px;
  height: 70px;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  box-shadow: 0 10px 15px 2px rgba(106, 110, 119, 0.2);
}
.customer-testimonial .customer-name {
  line-height: 1rem;
}
.partner-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 150px;
  gap: 2rem;
  margin: 2rem auto 0;
}

.partner-logos img {
  width: 100%;
  display: block;
}
@media screen and (min-width: 576px) {
  .partner-logos {
    max-width: 30rem;
    justify-content: space-around;
  }
  .partner-logos img {
    max-width: 9rem;
    margin: auto;
  }
}
@media screen and (min-width: 996px) {
  .partner-logos {
    padding-top: 2.5rem;
    max-width: 100%;
    justify-content: space-between;
  }

  .partner-logos img {
    max-width: 10rem;
  }
}
/* //////////////////TESTIMONIALS Ends */
/* //////////////////PRICING Starts */
.options-button-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0.4rem;
  margin-bottom: 2rem;
  background-color: #eff1f5;
  border-radius: 50px;
  border: 1px solid #e6e9ef;
}
.options-button-wrapper .button {
  padding: 0.2rem 1.5rem;
  background-color: inherit;
  border-radius: inherit;
  border: none;
  font-family: "Mandali", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.options-button-wrapper .button:hover {
  cursor: pointer;
}
.options-button-wrapper .button-active {
  background-color: #1f61eb;
  color: white;
}

.price-cards-wrapper {
  box-shadow: 0 5px 10px 0 rgba(106, 110, 119, 0.1);
}
.price-card {
  width: 100%;
  border-radius: 8px;
  padding: 2.5rem;
  padding: 50px;
  max-width: 696px;
  position: relative;
  overflow: hidden;
  margin: auto;
  box-shadow: 0 0px 2px 0 rgba(106, 110, 119, 0.07);
}
.price-card-last:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 7px;
  left: 0;
  border-radius: 8px;
  box-shadow: 0 5px 20px 0 rgba(106, 110, 119, 0.1);
  display: none;
}
.price-card-sum-block {
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 2.5rem;
  background-color: #f8f9fa;
}
.price-card strong {
  color: #343a40;
  font-weight: 400;
}
.price-card-sum-block strong {
  display: block;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.price-sum {
  color: #1f61eb;
  font-size: 1.7rem;
  font-weight: 600;
  font-family: "Open Sans";
}
.price-card-list {
  margin-bottom: 2.5rem;
  text-align: left;
  list-style: none;
}
.price-card-list li {
  margin-bottom: 0.5rem;
}
.price-card-list-icon {
  margin-right: 0.5rem;
}
.price-card-button {
  width: 100%;
  padding: 0.7rem 0;
  color: white;
  background: rgb(32, 97, 235);
  background: linear-gradient(90deg, rgba(32, 97, 235, 1) 0%, rgba(148, 180, 245, 1) 100%);
  border: none;
  border-radius: 6px;
  font-size: 1rem;
}
.price-card-ribbon {
  position: absolute;
  top: 3rem;
  right: -3rem;
  padding: 0 3.1rem;
  transform: rotate(45deg);
  color: white;
  background-color: #eb1f52;
  box-shadow: 0 5px 10px 0 rgba(106, 110, 119, 0.4);
  font-weight: 300;
  font-size: 13px;
  text-transform: uppercase;
}

@media screen and (min-width: 576px) {
  .price-sum {
    font-size: 2.5rem;
  }
  .price-card {
    padding: 3rem;
  }
}
@media screen and (min-width: 996px) {
  .price-card {
    box-shadow: 0 5px 10px 0 rgba(106, 110, 119, 0.1);
  }
  .price-cards-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: none;
    gap: 1rem;
  }
  .price-card-outer {
    overflow: visible;
    flex: 1;
  }
  .price-card::after {
    display: none;
  }
}
/* //////////////////PRICING Ends */
/* //////////////////FAQ Starts */
.faq-list {
  list-style: none;
}
.faq-item {
  box-shadow: 0 3px 5px 0 rgba(106, 110, 119, 0.2);
  margin-bottom: 0.7rem;
  border-radius: 8px;
  overflow: hidden;
}
.faq-item-btn {
  width: 100%;
  color: #536976;
  background-color: white;
  border: none;
  padding: 12px 1.2rem;
  font-weight: 600;
  font-size: 1rem;
  font-family: "Open Sans";
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.faq-item-btn i {
  font-size: 1.3rem;
}
.faq-item-btn:hover {
  cursor: pointer;
}
.faq-item-open .faq-item-btn {
  background-color: #e6e9ef;
  color: #343a40;
}
.faq-item-text {
  text-align: left;
  height: 0;
  background-color: white;
  line-height: 1.5rem;
}
/* Atsimink !!!!!!!!!!  Can't set height to 0 when padding applied, box-sizing: border box, no effect*/

.faq-item-open .faq-item-text {
  padding: 1rem;
  height: auto;
}

@media screen and (min-width: 996px) {
  .faq .double-flex-part:last-child {
    flex: 1.4;
  }
  .faq .double-flex-part:first-child {
    text-align: left;
  }
  .faq-image {
    max-width: 356px;
  }
}

/* //////////////////FAQ Ends */
/* //////////////////APP STORES Starts */
.app-stores {
  text-align: center;
}
.app-stores h2 {
  font-size: 2rem;
  max-width: 400px;
  margin: auto;
  line-height: 1.2em;
  margin-bottom: 2rem;
}

.app-stores p {
  max-width: 387px;
  width: 75%;
  margin: auto;
  margin-bottom: 2rem;
}
.app-stores-logo-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0.5rem;
}
.app-stores a {
  text-decoration: none;
}
.app-stores a img {
  height: 52px;
  width: auto;
}
@media screen and (min-width: 996px) {
  .app-stores h2 {
    font-size: 3rem;
    max-width: 500px;
  }

  .app-stores p {
    width: 80%;
    max-width: 694px;
  }
}

/* //////////////////APP STORES Ends */
/* //////////////////CONTACT Starts */
.contact.section {
  text-align: left;
}

.contact-info a {
  color: inherit;
  text-decoration: none;
}
.contact-info-header {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
  color: #343a40;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 600;
}
.contact-info-header img {
  width: 70px;
  height: auto;
}
.contact-info-list {
  list-style: none;
}
.contact-info-label {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  color: #343a40;
  font-weight: 600;
  font-size: 1rem;
  font-family: "Open Sans";
}

.contact-info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.8em;
  width: 1.8em;
  color: #1f61eb;
  background-color: #d7e2f8;
  border-radius: 8px;
  font-size: 1.3rem;
}
.contact-info-details {
  margin-bottom: 1.5rem;
  list-style: none;
  line-height: 1.5rem;
}

.contact-info-details strong {
  font-weight: 500;
}

.contact-info-details li div {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.contact-info-details li {
  margin-bottom: 0.5rem;
}
.contact-form {
  padding: 3rem;
  background-color: white;
  box-shadow: 0 3px 20px 0 rgba(106, 110, 119, 0.1);
  border-radius: 8px;
}
.contact-form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 1.1rem;
}
.contact-form label,
.contact-form input,
.contact-form textarea {
  width: 100%;
  font-family: inherit;
  line-height: 1;
}

.contact-form textarea {
  height: 110px;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}
.contact-form input,
.contact-form textarea {
  padding: 0.3rem 0.5rem;
  border: 1px solid #e9ecf1;
  border-radius: 8px;
  font-size: 1rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
}
.contact-form label {
  padding-bottom: 0.5rem;
  color: #6c757d;
  font-weight: 600;
  font-family: "Open Sans";
  font-size: 0.9rem;
}
.contact-form button {
  position: relative;
  top: 1rem;
  padding: 0.7rem 2rem;
  color: white;
  background: rgb(235, 33, 83);
  background: linear-gradient(90deg, rgba(235, 33, 83, 1) 0%, rgba(245, 148, 172, 1) 100%);
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}
.contact-form .divide-onmed {
  margin: 0;
}

@media screen and (min-width: 576px) {
  .contact-form .divide-onmed {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
@media screen and (min-width: 996px) {
  .contact-form .divide-onmed {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .contact-info-header {
    font-size: 2rem;
  }
  .contact-form {
    flex: 1.2;
  }
}
/* //////////////////CONTACT Ends */
/* //////////////////NAV MORE-footer nav  Starts */
.nav-more {
  background-color: rgba(52, 58, 64, 1);
  background-image: url("resources/footer-light-bg.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center center;
  color: white;
  text-align: left;
}
.nav-more.section {
  padding: 80px 0;
}
.nav-more .double-flex {
  min-width: 100%;
}
.nav-more .one-part {
  text-align: center;
}
.nav-more-logo {
  width: 129px;
  height: auto;
  margin: auto;
}
.nav-more h4,
.nav-more h3 {
  color: inherit;
  margin-bottom: 1rem;
}
.nav-more-contact-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.6;
  margin: 1rem auto;
  width: fit-content;
}
.nav-more a {
  color: inherit;
  text-decoration: none;
}
.nav-more .social-icons {
  margin-top: 2rem;
}

.social-icons a {
  display: inline-flex;
  align-items: center;
  position: relative;
  justify-content: center;
  border-radius: 6px;
  margin-left: 0.3rem;
  border: 4px solid transparent;
  transition: all 0.4s;
  position: relative;
}

.social-icons a i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: #494e54;
  border-radius: 6px;
  transition: all 0.4s;
  font-size: 1.3rem;
}
.social-icons a:hover {
  border: 4px solid #494e54;
}

.social-icons a:hover i {
  color: #1057ea;
  background-color: white;
}
.nav-more .four-parts {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
.nav-more-group {
  width: 100%;
  margin-top: 1rem;
}
.nav-more-list {
  list-style: none;
}
.nav-more-list li {
  overflow: hidden;
  width: fit-content;
  margin-bottom: 0.2rem;
}
.nav-more-list a {
  position: relative;
  left: -11px;
  color: #abaeb0;
  padding-left: 11px;
  transition: all 0.3s;
  transition-timing-function: ease-out;
}

.nav-more-list a:hover {
  left: 0;
  color: white;
}

.nav-more-list a:before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 0px;
  min-width: 5px;
  min-height: 5px;
  border-radius: 50%;
  background-color: #1f61eb;
}
.nav-more .one-part {
  text-align: center;
}

@media screen and (min-width: 576px) {
  .nav-more-group {
    width: 45%;
  }
  .nav-more .four-parts {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
  }
}

@media screen and (min-width: 768px) {
  .nav-more .one-part {
    max-width: fit-content;
  }
  .nav-more .four-parts {
    padding-left: 0;
    justify-content: space-between;
    align-items: stretch;
    gap: 0;
    min-width: fit-content;
  }
  .nav-more-group {
    flex: 1;
  }
}
@media screen and (min-width: 996px) {
  .nav-more .double-flex {
    gap: 2rem;
    align-items: flex-start;
  }
  .nav-more .four-parts {
    gap: 1rem;
    flex: 1;
  }
  .nav-more .one-part {
    max-width: 285px;
    padding-top: 1rem;
    text-align: left;
  }
  .nav-more-contact-wrapper {
    width: 100%;
    align-items: flex-start;
  }
  .nav-more-logo {
    display: inline;
  }
  .nav-more .social-icons {
    margin-left: -0.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .nav-more .double-flex {
    gap: 4rem;
  }
}
/* //////////////////NAV MORE-footer nav  Ends */
.page-footer {
  background-color: #474d52;
  color: #c9cbcc;
  font-size: 0.9rem;
  padding: 1rem 0;
}
